/* LEVEL SELECTION STYLING */


.playLevelOne{
	background: transparent;
	background-image: url(images/levelOneButton.png); 
	outline: none;
	border: none;
	background-size: cover; 
	position: fixed; 
	left: 450px; 
	top: 240px;
	width: 110px;
	height: 180px;

}

.playLevelOne:hover{
	background: transparent;
	background-image: url(images/levelOneHover.png); 
	

}

.playLevelTwo{

	background: transparent;
	background-image: url(images/levelTwoButton.png); 
	outline: none;
	border: none;
	background-size: cover; 
	position: fixed; 
	left: 590px; 
	top: 240px;
	width: 110px;
	height: 180px;
	
}

.playLevelTwo:hover{
	background: transparent;
	background-image: url(images/levelTwoHover.png); 
	

}

.playLevelThree{

	background: transparent;
	background-image: url(images/levelThreeButton.png); 
	outline: none;
	border: none;
	background-size: cover; 
	position: fixed; 
	left: 730px; 
	top: 240px;
	width: 110px;
	height: 180px;
	
}

.playLevelThree:hover{
	background: transparent;
	background-image: url(images/levelThreeHover.png); 
	

}