/* Sign In Sign Up Page */

.playGuest{
    background:transparent;
    background-image: url(images/playGuest.png);
    background-size: 100%;
    top: 300px;
    position: fixed;
    left: 445px;
    outline: none;
    border: none;
    cursor: pointer;

    width: 400px;
    height: 62px;

}
.btnstyle{

  width: 400px;
  margin-bottom: 15px;
  background-color: #626262; /* Green */

  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #f6f0e4;
}

.playGuest:hover{

    background:transparent;
    background-image: url(images/playGuestHover.png);
    background-size: cover;
    position: fixed;
    outline: none;

    border: none;
    cursor: pointer;


}

.signInButton {
    background:transparent;
    background-image: url(images/signInButton.png);
    background-size: 100%;
    top: 100px;
    position: fixed;
    left: 445px;
    outline: none;
    border: none;
    cursor: pointer;

    width: 400px;
    height: 62px;
}

.signInButton:hover{

    background:transparent;
    background-image: url(images/signInHover.png);
    background-size: cover;
    position: fixed;
    outline: none;

    border: none;
    cursor: pointer;


}

.signUpButton {
    background:transparent;
    background-image: url(images/signUpButton.png);
    background-size: 100%;
    top: 200px;
    position: fixed;
    left: 445px;
    outline: none;
    border: none;
    cursor: pointer;

    width: 400px;
    height: 62px;
}

.signUpButton:hover{

    background:transparent;
    background-image: url(images/signUpHover.png);
    background-size: cover;
    position: fixed;
    outline: none;

    border: none;
    cursor: pointer;

}


/* Sign In Div */

.signInDiv {

    background:transparent;
    background-image: url(images/signInBackground.png);
    background-size: 100%;
    position: fixed;
    outline: none;
    width: 500px;
    height: 350px;

    left: 375px;
    top: 75px;

}

.signUpDiv {

    background:transparent;
    background-image: url(images/signUpBackground.png);
    background-size: cover;
    position: fixed;
    outline: none;
    width: 500px;
    height: 420px;

    left: 375px;
    top: 75px;

}

.usernameTextfield{
    background:transparent;
    background-image:url(images/textfieldBackground.png);
    border: none;
    padding: 20px;
    width: 350px;
    height: 62px;
    font-size: 18;
    outline: none;

    background-size: 100%;
    position: fixed;

    left: 450px;
    top: 200px;

}

.passwordTextfield{
    background:transparent;
    background-image:url(images/textfieldBackground.png);
    border: none;
    padding: 20px;
    background-size: 100%;
    position: fixed;
    font-size: 18;
    width: 350px;
    height: 62px;
    outline: none;
    left: 450px;
    top: 265px;

}

.signInDiv-signInButton{

    background:transparent;
    background-image:url(images/smallSignIn.png);
    border: none;
    background-size: 100%;
    position: fixed;
    outline: none;
    width: 150px;
    height: 55px;

    left: 450px;
    top: 335px;


}

.signInDiv-signInButton:hover{

    background:transparent;
    background-image:url(images/smallSignInHover.png);
    border: none;
    background-size: 100%;
    position: fixed;
    outline: none;
    width: 150px;
    height: 55px;

    left: 450px;
    top: 335px;

}

.signInDiv-signUpButton{

    background:transparent;
    background-image:url(images/smallSignUp.png);
    border: none;
    background-size: 100%;
    position: fixed;
    outline: none;
    width: 150px;
    height: 55px;

    left: 650px;
    top: 335px;


}

.signInDiv-signUpButton:hover{

    background:transparent;
    background-image:url(images/smallSignUpHover.png);
    border: none;
    background-size: 100%;
    position: fixed;
    outline: none;
    width: 150px;
    height: 55px;

    left: 650px;
    top: 335px;

}

.forgotPasswordButton{
    border: none;
    background: transparent;
    color: white;
    outline: none;
    position: fixed;

    left: 550px;
    top: 430px;
}

/* MAIN MENU */

.playStoryButton{

    background:transparent;
    background-image: url(images/playStoryButton.png);
    background-size: 100%;
    top: 100px;
    position: fixed;
    left: 445px;
    outline: none;
    border: none;
    cursor: pointer;

    width: 400px;
    height: 62px;

}

.playStoryButton:hover{
    background:transparent;
    background-image: url(images/playStoryButtonHover.png);
    background-size: cover;
    position: fixed;
    outline: none;

    border: none;
    cursor: pointer;

}

.playOnlineButton{

    background:transparent;
    background-image: url(images/playOnlineButton.png);
    background-size: 100%;
    top: 175px;
    position: fixed;
    left: 445px;
    outline: none;
    border: none;
    cursor: pointer;

    width: 400px;
    height: 62px;

}

.playOnlineButton:hover{
    background:transparent;
    background-image: url(images/playonlineButtonHover.png);
    background-size: cover;
    position: fixed;
    outline: none;

    border: none;
    cursor: pointer;

}

.levelEditorButton{

    background:transparent;
    background-image: url(images/levelEditorButton.png);
    background-size: 100%;
    top: 250px;
    position: fixed;
    left: 445px;
    outline: none;
    border: none;
    cursor: pointer;

    width: 400px;
    height: 62px;

}

.levelEditorButton:hover{
    background:transparent;
    background-image: url(images/levelEditorButtonHover.png);
    background-size: cover;
    position: fixed;

    outline: none;
    border: none;
    cursor: pointer;

}

.achievementsButton{

    background:transparent;
    background-image: url(images/achievementsButton.png);
    background-size: 100%;
    top: 325px;
    position: fixed;
    left: 445px;
    outline: none;
    border: none;
    cursor: pointer;

    width: 400px;
    height: 62px;

}

.achievementsButton:hover{
    background:transparent;
    background-image: url(images/achievementsButtonHover.png);
    background-size: cover;
    position: fixed;

    outline: none;
    border: none;
    cursor: pointer;

}

.settingsButton{

    background:transparent;
    background-image: url(images/settingsButton.png);
    background-size: 100%;
    top: 400px;
    position: fixed;
    left: 445px;
    outline: none;
    border: none;
    cursor: pointer;

    width: 400px;
    height: 62px;

}

.settingsButton:hover{
    background:transparent;
    background-image: url(images/settingsHover.png);
    background-size: cover;
    position: fixed;
    outline: none;
    border: none;
    cursor: pointer;

}

.logoutButton{
    background:transparent;
    background-image: url(images/logoutButton.png);
    background-size: 100%;
    top: 20px;
    position: fixed;
    left: 1130px;

    border: none;
    cursor: pointer;
    outline: none;
    width: 78px;
    height: 88px;
}

.logoutButton:hover{
    background:transparent;
    background-image: url(images/logoutHover.png);
    background-size: cover;
    position: fixed;
    outline: none;
    border: none;
    cursor: pointer;
}
