/*Enemies Button*/

.enemiesbtn {
    background:transparent;
    background-image: url(../../images/enemiesButton.png);
    background-size: 100%;
    top: 0px;
    position: fixed;
    left: 62px;
    
    border: none;
    cursor: pointer;
    z-index: 4;
    width: 62px;
    height: 62px;
}

.enemiesbtn:hover, .enemiesbtn:focus {
    outline:0;
    z-index:4;
}



.enemiesDropdown {
    position: fixed;
    display: inline-block;
    z-index:4;

}

.enemies-content {
    display: none;
    position: fixed;
    left: 62px;
    top:62px;
    min-width: 62px;
    overflow: auto;
    
    z-index: 4;
}

.enemies-content button {
    background:transparent;
    border: none;
    color: black;
    width: 62px;
    height: 62px;
    display: block;
    background-size: 100%;
    z-index: 4;
}

.enemies-content button:hover {background-color: #ddd}

.show {display:block;}

/*Music Button*/

.musicbtn {
    background:transparent;
    background-image: url(../../images/musicButton.png);
    background-size: 100%;
    top: 0px;
    position: fixed;
    left: 124px;
    
    border: none;
    cursor: pointer;
    z-index: 4;
    width: 62px;
    height: 62px;
}

.musicbtn:hover, .musicbtn:focus {
    outline:0;
    z-index:4;
}

.musicDropdown {
    position: fixed;
    display: inline-block;
    z-index:4;

}

.music-content {
    display: none;
    position: fixed;
    left: 124px;
    top:62px;
    min-width: 62px;
    overflow: auto;
    
    z-index: 4;
}

.music-content button {
    background:transparent;
    border: none;
    color: black;
    width: 62px;
    height: 62px;
    display: block;
    z-index: 4;
}

.music-content button:hover {background-color: #ddd}

.show {display:block;}

/*Background Button*/

.backgroundbtn {
    background:transparent;
    background-image: url(../../images/backgroundButton.png);
    background-size: 100%;
    top: 0px;
    position: fixed;
    left: 186px;
    
    border: none;
    cursor: pointer;
    z-index: 4;
    width: 62px;
    height: 62px;
}

.backgroundbtn:hover, .backgroundbtn:focus {
    outline:0;
    z-index:4;
}

.backgroundDropdown {
    position: fixed;
    display: inline-block;
    z-index:4;


}

.background-content {
    display: none;
    position: fixed;
    left: 186px;
    top:62px;
    min-width: 62px;
    overflow: auto;
    
    z-index: 4;
}

.background-content button {
    background:transparent;
    border: none;
    color: black;
    width: 62px;
    height: 62px;
    display: block;
    z-index: 4;
}


.background-content button:hover {background-color: #ddd}

.show {display:block;}

/*Checkpoint Button*/

.checkpointbtn {
    background:transparent;
    background-image: url(../../images/checkpointButton.png);
    background-size: 100%;
    top: 0px;
    position: fixed;
    left: 248px;
    
    border: none;
    cursor: pointer;
    z-index: 4;
    width: 62px;
    height: 62px;
}

.checkpointbtn:hover, .checkpointbtn:focus {
    outline:0;
    z-index:4;
}

.checkpointDropdown {
    position: fixed;
    display: inline-block;
    z-index:4;

}

.checkpoint-content {
    display: none;
    position: fixed;
    left: 248px;
    top:62px;
    min-width: 62px;
    overflow: auto;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);*/
    z-index: 4;
}

.checkpoint-content button {
    background:transparent;
    border: none;
    color: black;
    width: 62px;
    height: 62px;
    display: block;
    background-size: 100%;
    z-index: 4;
}

.checkpoint-content button:hover {background-color: #ddd}

.show {display:block;}      

/*Character Button*/

.characterbtn {
    background:transparent;
    background-image: url(../../images/characterButton.png);
    background-size: 100%;
    top: 0px;
    position: fixed;
    left: 310px;
    
    border: none;
    cursor: pointer;
    z-index: 4;
    width: 62px;
    height: 62px;
}

.characterbtn:hover, .dropbtn:focus {
    
    z-index:4;
}

.characterDropdown {
    position: absolute;
    display: inline-block;
    z-index:4;

}

.character-content {
    display: none;
    position: fixed;
    left: 186px;
    top:62px;
    min-width: 62px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
    z-index: 4;
}

.character-content a {
    color: black;
    padding: 31px 31px;
    text-decoration: none;
    display: block;
    z-index: 4;
    left:62px;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}      

/*Terrain Button*/

.terrainbtn {
    background:transparent;
    background-image: url(../../images/terrainButton.png);
    background-size: 100%;
    top: 0px;
    position: fixed;
    left: 372px;
    
    border: none;
    cursor: pointer;
    z-index: 4;
    width: 62px;
    height: 62px;
}

.terrainbtn:hover, .terrainbtn:focus {
    outline:0;
    z-index:4;
}

.terrainDropdown {
    position: fixed;
    display: inline-block;
    z-index:4;

}

.terrain-content {
    display: none;
    position: fixed;
    left: 372px;
    top:62px;
    min-width: 62px;
    overflow: auto;
    
    z-index: 4;
}

.terrain-content button {
    background:transparent;
    border: none;
    color: black;
    width: 62px;
    height: 31px;
    display: block;
    z-index: 4;
}

.terrain-content button:hover {background-color: #ddd}

.show {display:block;}       


/*Weapon Button*/

.weaponbtn {
    background:transparent;
    background-image: url(../../images/weaponButton.png);
    background-size: 100%;
    top: 0px;
    position: fixed;
    left: 434px;
    
    border: none;
    cursor: pointer;
    z-index: 4;
    width: 62px;
    height: 62px;
}

.weaponbtn:hover, .weaponbtn:focus {
    outline:0;
    z-index:4;
}

.weaponDropdown {
    position: fixed;
    display: inline-block;
    z-index:4;

}

.weapon-content {
    display: none;
    position: fixed;
    left: 434px;
    top:62px;
    min-width: 62px;
    overflow: auto;
    
    z-index: 4;
}

.weapon-content button {
    background:transparent;
    border: none;
    color: black;
    width: 62px;
    height: 62px;
    background-size: 100%;
    display: block;
    z-index: 4;
}

.weapon-content button:hover {background-color: #ddd}

.show {display:block;}


/*Check Button */


.checkbtn {
    background:transparent;
    background-image: url(../../images/checkButton.png);
    background-size: 100%;
    top: 0px;
    position: fixed;
    left: 496px;
    background-size: 100%;
    
  
    border: none;
    cursor: pointer;
    z-index: 4;
    width: 62px;
    height: 62px;
}

.checkbtn:hover, .checkbtn:focus {
    outline:0;
    z-index:4;
}

/*Exit Button */ 

.exitbtn {
    background:transparent;
    background-image: url(../../images/exitButton.png);
    background-size: 100%;
    top: 0px;
    position: fixed;
    left: 0px;
    background-size: 100%;
    
    border: none;
    cursor: pointer;
    z-index: 4;
    width: 62px;
    height: 62px;
}

.exitbtn:hover, .exitbtn:focus {
    outline:0;
    z-index:4;
}